.nominees {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	grid-gap: 2rem;
}

.categoryTitle {
	margin: 2rem 0;
	background-color: #1e645d;
	color: #ffffffcc;
	width: 100%;
	padding: 0.5rem 1rem;
	border-radius: 4px;
}

.singleNominee {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 20rem;
	background-color: #009b86;
	border: 2px solid #54ecd8;
	border-radius: 0.5rem;
}
.singleNominee:hover {
	background-color: #017969 !important;
}

.nomineeTitle {
	margin: 0 0 1rem 0;
}
.nomineeImage {
	border-radius: 50%;
}
.selectButton {
	padding: 1rem;
	margin: 0 auto;
	border-radius: 0.5rem;
	color: #fff;
	cursor: pointer;
}
.selected {
	background-color: #0ea15a !important;
}
.selected:hover {
	transform: scale(1) !important;
}
.singleNominee:hover .non_selected {
	background-color: #0ea08c !important;
}
.non_selected {
	background-color: #017969 !important;
}
.selectButton:hover {
	transform: scale(1.1);
}
